@(message: String)

@main("Welcome to Play 2.1") {
  <div class="row">
  <div class="span4">
  
   <p class="text-info">@message</p>
   
    <form class="form-signin" action="@routes.Application.authenticate" method="post">
    
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="input-block-level" placeholder="Email address" name="email">
        <input type="password" class="input-block-level" placeholder="Password" name="password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        
      </form>
      </div>
      </div>
}